{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Gym Pro Fitness{% endblock %}</title>
    <!-- CSS styles, Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"/>
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand" href="#">Gym Pro Fitness</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'get_home_page' %}">Home</a>
            </li>
            <!-- Navbar items available if not logged in -->
            {% if user.is_authenticated %}
                <li class="nav-item 
                    {% if request.path == '/search_workout/' %}
                        active
                    {% endif %}">
                    <a class="nav-link"
                        href="{% url 'search_workout' %}">
                        Search
                    </a>
                </li>
                <li class="nav-item 
                    {% if request.path == '/user_page/' or '/edit/' in request.path %}
                        active
                    {% endif %}">
                    <a class="nav-link"
                        href="{% url 'user_page' %}">
                        My Workouts
                    </a>
                </li>
                <li class="nav-item 
                    {% if request.path == '/add_workout/' %}
                        active
                    {% endif %}">
                    <a class="nav-link"
                        href="{% url 'add_workout' %}">
                        Add Workout
                    </a>
                </li>
                <li class="nav-item 
                    {% if request.path == '/users/profile/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{% url 'user_profile' %}">
                        My Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_user' %}">
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item 
                    {% if request.path == '/users/login_user' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{% url 'login_user' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item 
                    {% if request.path == '/users/register_user/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{% url 'register_user' %}">
                        Register
                    </a>
                </li>
            {% endif %}
            <li class="nav-item 
                {% if request.path == '/contact' %}
                    active
                {% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <main>
        {% block content %}
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="modal fade" id="errorModal" tabindex="-1" 
                        aria-labelledby="errorModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="alert alert-{{ message.extra_tags }} fade show" 
                                    data-message-tag="{{ message.extra_tags }}"
                                    role="alert"> {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'js/script.js' %}"></script>
                {% endfor %}
            {% endif %}

        </div>
        {% endblock %}
    </main>

    <footer class="mt-auto bg-light py-4 footer-shadow">
        <div class="container">
            <div class="row align-items-center">
                <!-- Left Section: Logo -->
                <div class="col-md-4 col-sm-12 mb-3 mb-md-0 
                    text-center text-md-left">             
                    <a href="{% url 'get_home_page' %}">
                        <img src="{% static 'images/logo-icon.png' %}" 
                        alt="Logo" class="logo-small">
                    </a>
                </div>
    
                <!-- Middle Section: Social Media Icons -->
                <div class="col-md-4 col-sm-12 mb-3 mb-md-0 text-center">
                    <div class="footer-icon-color">
                        <h3>.
                            <a href="https://facebook.com" target="_blank"
                                rel="noopener" 
                                aria-label="Facebook page (opens in a new tab)">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank" 
                                rel="noopener"
                                aria-label="Instagram page (opens in a new tab)">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank" 
                                rel="noopener" 
                                aria-label="Twitter page (opens in a new tab)">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://linkedin.com" target="_blank" 
                                rel="noopener" 
                                aria-label="Linkedin page (opens in a new tab)">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </h3>
                        <p class="mb-0 d-none d-md-block" >
                            <small>
                                &copy; 2023 Gym Pro Fitness. G Harpa.
                            </small>
                        </p>
                    </div>
                </div>
    
                <!-- Right Section: Contact Us Link -->
                <div class="col-md-4 col-sm-12 text-center text-md-right 
                    footer-icon-color">
                    <h3>
                        <a href="{% url 'contact' %}">Find us 
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </h3>
                    <p class="mb-0 d-md-none">
                        <small>
                            &copy; 2023 Gym Pro Fitness. G Harpa.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript scripts -->
</body>
</html>
