{% extends 'workouts/base.html' %}

{% load static %}

{% block content %}

<div class="title text-center pt-4 h1">
  <h1 class="text-size-h1">{{ user.username|capfirst }}'s Added Workouts</h1>
</div>
{% if user.is_authenticated %}
  {% if workouts|length != 0 %}
  <div class="container pt-2">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for workout in workouts %}
      <div class="col-md-3 mb-4 mt-4">
        <div class="card border-0 bg-light rounded shadow">
          {% if 'default' in workout.image_url.url %}
            <img src="{% static 'images/running.png' %}" 
              class="card-img-top img-fluid" alt="{{ workout.title }}"
            >
          {% else %}
            <img src="{{ workout.image_url.url }}" 
              class="card-img-top img-fluid" alt="{{ workout.title }}"
            >
          {% endif %}
          <div class="card-body p-4">
            <h5 class="card-title">{{ workout.title }}</h5>
            <p class="card-text">Type: {{ workout.type }}</p>
            <p class="card-text">Intensity: {{ workout.intensity }}</p>
            <div class="d-flex justify-content-center">
              {% if workout.slug %}
                  <a href="{% url 'edit_workout' slug=workout.slug %}" 
                    class="btn btn-action btn-edit">
                    Edit
                  </a>
              {% else %}
                  <p class="text-muted btn-action">
                    Editing not available for this workout.
                  </p>
              {% endif %}
              <a href="{% url 'workout_delete_confirmation' workout_id=workout.id %}" 
                class="btn btn-action btn-delete">
                Delete
              </a>
            </div>      
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="text-center">
    <h3 class="pt-5">You didn't create any workouts yet.</h3>
  </div>
  <div class="container text-center pb-2">
    <a href="{% url 'add_workout' %}" class="btn btn-primary add-button">
      Add a Workout
    </a>
  </div>
  {% endif %}
{% endif %}

{% endblock %}
