{% extends 'workouts/base.html' %}

{% load static %}

{% block content %}

<div class="title text-center pt-4 h1">
  <h1 class="text-size-h1">{{ user.username|capfirst }}'s Added Workouts</h1>
</div>
{% if user.is_authenticated %}
  {% if workouts|length != 0 %}
  <div class="container pt-lg-4 pt-sm-2 col-lg-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="small-none">#</th>
          <th>Type</th>
          <th>Title</th>
          <th>Intensity</th>
          <th class="text-center">Modify</th>
        </tr>
      </thead>
      <tbody>
        {% for workout in workouts %}
        <tr>
          <td class="small-none align-middle">{{ forloop.counter }}</td>
          <td class="h6 align-middle">{{ workout.type }}</td>
          <td class="align-middle">
            <a href="{% url 'workout_detail' slug=workout.slug %}" 
              class="workout-link">
              {{ workout.title }}
            </a>
          </td>
          <td class="small-none h6 align-middle">{{ workout.intensity }}</td>
          <td class="align-middle">
            <div class="d-flex align-items-center gap-1 justify-content-center">
              <a href="" class="btn btn-primary btn-sm">Edit</a>
              <a href="" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="text-center">
    <h3 class="text-size-h3">You didn't create any workouts yet.</h3>
  </div>
  {% endif %}
  <div class="container text-center pb-2">
    <a href="{% url 'add_workout' %}" 
        class="btn btn-primary add-button">
        Add a Workout
    </a>
  </div>
  {% endif %}

{% endblock %}
