/* Gold color #FFD700 */
/* Dark gray color color: #333333 */
/* Royal blue color #4169E1 */
/* #F80000 */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.navbar-nav .nav-item .nav-link {
    font-size: large;
    font-weight: bold;
    color: #FFAF16;
}

.navbar-nav .nav-item a:hover {
    color: #333333;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #333333;
    border-bottom: 2px solid #FFAF16;
    margin-top: 0;
}

.home-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    letter-spacing: 1px;
    line-height: 2;
    overflow: hidden;
}

/* Inspired from: */
/* https: //codepen.io/hkmDesigner/pen/zwJPgL */
.home-title h1 {
    background-image: url(https://media.giphy.com/media/3ohhwgLQiCF365bIR2/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 9rem;
    margin: 10px 0;
}

.home-title button, .home-title a, .add-button {
    background-color: #333333;
    border-radius: 22px;
    border-color: #333333;
    display: inline-block;
    cursor: pointer;
    color: #F8F9FA;
    font-size: 1rem;
    padding: 16px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #333333;
    margin-top: 6vh;
    font-weight: bold;
}

.home-title button:hover, .home-title a:hover {
    background-color: #FFAF16;
    text-decoration: none;
    color: #333333;
}

.footer-shadow {
    box-shadow: 0px 1px 6px rgba(255, 175, 22, 8);
}

.logo-small {
    width: 4rem;
    height: 4rem;
}

.footer-icon-color h3 a{
    color:#333333;
    text-decoration: none;
}

.footer-icon-color h3 a:hover{
    color: #FFAF16;
}

/* Media query for big screens */
@media screen and (min-width: 1300px) {
    .home-title h1 {
        font-size: 11rem;
    }

    .home-title button, .home-title a, .add-button {
        font-size: 1.1rem;
        padding: 15px 42px;
    }
}

/* Media query for medium screens */
@media screen and (max-width: 768px) {
    .home-title {
        height: 70vh;
    }
    
    .home-title h1 {
        font-size: 6rem;
    }

    .home-title button, .home-title a, .add-button {
        font-size: 0.8rem;
        padding: 12px 30px;
    }

    .logo-small {
        width: 2.5rem;
        height: 2.5rem;
    }

    .footer-icon-color h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .navbar-nav .nav-item a {
        font-size: medium;
    }
}

/* Media query for small screens */
@media screen and (max-width: 480px) {
    .home-title {
        height: 60vh;
    }

    .home-title h1 {
        font-size: 4rem;
    }

    .home-title button, .home-title a, .add-button {
        font-size: 0.6rem;
        padding: 10px 20px;
    }

    .logo-small {
        width: 2rem;
        height: 2rem;
    }

    .footer-icon-color h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .navbar-nav .nav-item a {
        font-size: small;
    }

    .col-md-12 {
        padding-bottom: 1rem;
    }

    .text-size-h1 {
        font-size: 1.5rem;
    }

    .text-size-h3 {
        font-size: 1rem;
    }
}