{% extends 'workouts/base.html' %}
{% load static %}
{% block content %}
    <!-- Contact Form -->
    <div class="container mt-5 col-9 col-md-6 col-lg-4">
        <div class="text-center">
        <h1 class="h2">Contact Us</h1>
        </div>
        <div id="contactForm" class="form-container mt-3">
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.fullName }}
                    {{ form.fullName.errors }}
                </div>
                <div class="mb-3">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="mb-2">
                    {{ form.message }}
                    {{ form.message.errors }}
                </div>
                <div class="form-group text-end">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="btn-close" 
                        data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your message was sent successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error!</h5>
                    <button type="button" class="btn-close" 
                        data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>There was an error sending your message. Try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Display the modals based on the URL parameters -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    $(document).ready(function () {
                        $('#successModal').modal('show');
                    });
                </script>
            {% elif message.tags == 'danger' %}
                <script>
                    $(document).ready(function () {
                        $('#errorModal').modal('show');
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}